body{
    background-color:#125737;
    background-image:url("C:\\Users\\ganes\\Pictures\\Screenshot (39).png");
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;

    

    }