h2{
    height:100px;
    width:100vh;
    background-color: rgb(113, 128, 0);
    
}

#bo1{
    border-top-left-radius:50px;
}



#bo2{
    border-bottom-left-radius:60px dotted pink;
}

#bo3{
    border-bottom-right-radius:70px;
}


#bo4{
    border-radius:50px 10px;
}


#bo5{
    border-top-right-radius:80px;
}

#bo6{
    border-radius:500px 1000px 2000px;
}