#yemo{
    background-color:rgb(150, 20, 68)
}

.btech{

    background-color:rgb(100, 64, 50)
}
#btech{

    background-color:rgb(100, 50, 87)
}
#cse{

    background-color: rgb(181, 200, 40);
    color:blue
}