#decimal{
    list-style-type:decimal;
}
#lower-roman{
    list-style-type:lower-roman;
}
#upper-roman{
    list-style-type:upper-roman;
}
#lower-greek{
    list-style-type:lower-greek
}
#lower-alpha{
    list-style-type:lower-alpha;
}